<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/admin/" autocomplete="on" method="POST">
    {{ render_field(form.username) }}
    <input type="text" name="node_name" value={{ node_name|string }}/><br/>
    <input type="text" name="ipv4_address" value={{ ipv4_address|string }}/><br/>
    <input type="TextAreaField" name="interface" value={{ interface|string }}/><br/>
    <input type="submit" name="submit" /><br/>
</form>
</body>
</html>