<html>
    <head>

        <title>Delete Deivce</title>
	<style>
 	form { width: 10000px;}
	label { float: left; width: 150px;}
	</style>

        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='table.css') }}">
    </head>
    <body>

        <div id="container">
            <div class="table-title">
                <h1 align="center">Edit Device</h1>

            </div>
            <div id="content">
                <form method="post" >
                    <h2>Are you sure to delte ?</h2>

                  <input type="submit" VALUE="Yes"/>
                </form>
                    <h3> {{ err }}</h3>
                    <h1 align="center"> Device List</h1>

                  <div id="content">
                <table>
                    <thead>
                        <tr>
                            <th class="text-left"> Index</th>
                            <th class="text-left"> Device ID</th>
                            <th class="text-left"> Customer ID</th>
                            <th class="text-left">Name </th>
                            <th class="text-left">Vendor </th>
                            <th class="text-left">Hardware </th>
                            <th class="text-left">IOS </th>
                            <th class="text-left">Role </th>
                            <th class="text-left">IP Management </th>
                            <th class="text-left">Port Management </th>
                            <th class="text-left">Method </th>
                            <th class="text-left">Username </th>
                            <th class="text-left">Location </th>
                            <th class="text-left">Email </th>
                            <th class="text-left" class="text-left" >Mobile </th>
                            <th class="text-left">Edit(Delete)</th>
                        </tr>
                    </thead>
                    <tbody class="table-hover">
                {% for n in dev_all %}


                    <tr>
                        <td class="text-left"> {{  loop.index }}</td>
                        <td class="text-left"> {{n['device_id']  }}</td>
                        <td class="text-left"> {{n['customer_id']  }}</td>
                        <td class="text-left"> {{n['name']  }}</td>
                        <td class="text-left"> {{n['vendor']  }}</td>
                        <td class="text-left"> {{n['hardware']  }}</td>
                        <td class="text-left"> {{n['ios']  }}</td>
                        <td class="text-left"> {{n['role']  }}</td>
                        <td class="text-left"> {{n['ip_mgmt']  }}</td>
                        <td class="text-left"> {{n['port_mgmt']  }}</td>
                        <td class="text-left"> {{n['method']  }}</td>
                        <td class="text-left"> {{n['username']  }}</td>
                        <td class="text-left"> {{n['location']  }}</td>
                        <td class="text-left"> {{n['email']  }}</td>
                        <td class="text-left"> {{n['mobile']  }}</td>
                        <td class="text-left">
                            <a href="{{ url_for('editNode',id=n['device_id']) }}">Edit</a>
                            <a href="{{ url_for('deleteNode',id=n['device_id']) }}">Delete</a>

                        </td>

                    </tr>

                {% endfor %}
                </tbody><td class="text-left">
                    </table>
            </div>
            </div>
           </div>


    </body>
</html>
