<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form get data</title>
</head>
<body>
    <form action="/" method="get" >
        <input type="text" name="email">
        <input type="submit" value="submit">
        </form>


{% if result %}
<textarea cols="50" rows="4" name="result" > {{ result }}</textarea>
{% endif %}
</body>
</html>