<html>
    <head>

        <title>Delte Device Role</title>
	<style>
 	form { width: 10000px;}
	label { float: left; width: 150px;}
	</style>

        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='table.css') }}">
    </head>
    <body>

        <div id="container">
            <div class="table-title">
                <h1 align="center">Edit Device</h1>

            </div>
            <div id="content">
                <form method="post" >
                    <h2>Are you sure to delte ?</h2>

                  <input type="submit" VALUE="Yes"/>
                </form>
                    <h3> {{ err }}</h3>
                    <h1 align="center"> Role List</h1>

                  <div id="content">
                <table>
                    <thead>
                        <tr>
                            <th class="text-left"> Index</th>
                            <th class="text-left"> Device Role ID</th>
                            <th class="text-left">Device Role Name </th>
                            <th class="text-left">Device Name </th>
                            <th class="text-left">Edit(Delete)</th>
                        </tr>
                    </thead>
                    <tbody class="table-hover">
                {% for n in role_all %}


                    <tr>
                        <td class="text-left"> {{  loop.index }}</td>
                        <td class="text-left"> {{n['role_id']  }}</td>
                        <td class="text-left"> {{n['role_name']  }}</td>
                        <td class="text-left"> {{n['device_name']  }}</td>
                        <td class="text-left">
                            <a href="{{ url_for('editRole',id=n['role_id']) }}">Edit</a>
                            <a href="{{ url_for('deleteRole',id=n['role_id']) }}">Delete</a>

                        </td>

                    </tr>

                {% endfor %}
                </tbody><td class="text-left">
                    </table>
            </div>
            </div>
           </div>


    </body>
</html>
