 <html>
    <head>
        <title>Handle POST requests with Flask</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div id="container">
            <div class="title">
                <h1>POST request with Flask</h1>
            </div>
            <div id="content">
               <ul>
    {% for n in dev %}
    <li>{{ n['node_name']}}</li>
    {% endfor %}
</ul>

            </div>
            <div class="title">
                <h1>Flask code</h1>
            </div>
                <code><pre>

                </pre></code>
            </div>
        </div>
    </body>
</html>
