 <html>
    <head>
        <title>Handle POST requests with Flask</title>

        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

    </head>
    <body>
    <div id="includedContent"></div>
        <div id="container">
            <div class="title">
                <h1>POST request with Flask</h1>
            </div>
            <div id="content">
                <table>
                        <tr>
                            <td> Index</td>
                            <td> Customer ID</td>
                            <td>Name </td>
                            <td>Vendor </td>
                            <td>Hardware </td>
                            <td>IOS </td>
                            <td>Role </td>
                            <td>IP Management </td>
                            <td>Port Management </td>
                            <td>Method </td>
                            <td>Username </td>
                            <td>Location </td>
                            <td>Email </td>
                            <td>Mobile </td>
                        </tr>


                {% for n in dev %}


                    <tr>
                        <td> {{  loop.index }}</td>
                        <td> {{n['customer_id']  }}</td>
                        <td> {{n['name']  }}</td>
                        <td> {{n['vendor']  }}</td>
                        <td> {{n['hardware']  }}</td>
                        <td> {{n['ios']  }}</td>
                        <td> {{n['role']  }}</td>
                        <td> {{n['ip_mgmt']  }}</td>
                        <td> {{n['port_mgmt']  }}</td>
                        <td> {{n['method']  }}</td>
                        <td> {{n['username']  }}</td>
                        <td> {{n['location']  }}</td>
                        <td> {{n['email']  }}</td>
                        <td> {{n['mobile']  }}</td>

                    </tr>

                {% endfor %}
                    </table>
            </div>

            </div>
        </div>
    </body>
</html>
