<html>
    <head>

        <title>Add device</title>
	<style>
 	form { width: 10000px;}
	label { float: left; width: 150px;}
	</style>

        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='table.css') }}">
    </head>
    <body>

        <div id="container">
            <div class="table-title">
                <h1 align="center">Input New Device</h1>
            </div>
            <div id="content">
                <form method="post" >
                    <label for="customer_id">Customer ID:</label>
                  <input type="text" name="customer_id" /><br />

                    <label for="name">Hostname:</label>
                  <input type="text" name="name" /><br />
                  <label for="vendor">Vendor:</label>
                  <input type="text" name="vendor" /><br />
	       <label for="hardware">Hardware:</label>
                  <input type="text" name="hardware" /><br />
                 <label for="ios">IOS:</label>
                  <input type="text" name="ios" /><br/>
                  <label for="ip_mgmt">IP Management:</label>
                   <input type="text" name="ip_mgmt" /><br/>
		         <label for="port_mgmt">Port Management:</label>
                   <input type="text" name="port_mgmt" /><br/>
                       <label for="method">Method to Connect:</label>
                   <input type="text" name="method" /><br/>
                  <label for="username">Username:</label>
                   <input type="text" name="username" /><br/>
                      <label for="password">Password:</label>
                   <input type="text" name="password" /><br/>
                     <label for="location">Location:</label>
                   <input type="text" name="location" /><br/>
                       <label for="email">Owner Email:</label>
                   <input type="text" name="email" /><br/>
                        <label for="mobile">Owner Mobile:</label>
                   <input type="text" name="mobile" /><br/>




                  <input type="submit" />
                </form>
                    <h3> {{ err }}</h3>
                    <h1 align="center"> Device List</h1>

                  <div id="content">
                <table>
                    <thead>
                        <tr>
                            <th class="text-left"> Index</th>
                            <th class="text-left"> Device ID</th>
                            <th class="text-left"> Customer ID</th>
                            <th class="text-left">Name </th>
                            <th class="text-left">Vendor </th>
                            <th class="text-left">Hardware </th>
                            <th class="text-left">IOS </th>
                            <th class="text-left">Role </th>
                            <th class="text-left">IP Management </th>
                            <th class="text-left">Port Management </th>
                            <th class="text-left">Method </th>
                            <th class="text-left">Username </th>
                            <th class="text-left">Location </th>
                            <th class="text-left">Email </th>
                            <th class="text-left" class="text-left" >Mobile </th>
                            <th class="text-left">Edit(Delete)</th>
                        </tr>
                    </thead>
                    <tbody class="table-hover">
                {% for n in dev1 %}


                    <tr>
                        <td class="text-left"> {{  loop.index }}</td>
                        <td class="text-left"> {{n['device_id']  }}</td>
                        <td class="text-left"> {{n['customer_id']  }}</td>
                        <td class="text-left"> {{n['name']  }}</td>
                        <td class="text-left"> {{n['vendor']  }}</td>
                        <td class="text-left"> {{n['hardware']  }}</td>
                        <td class="text-left"> {{n['ios']  }}</td>
                        <td class="text-left"> {{n['role']  }}</td>
                        <td class="text-left"> {{n['ip_mgmt']  }}</td>
                        <td class="text-left"> {{n['port_mgmt']  }}</td>
                        <td class="text-left"> {{n['method']  }}</td>
                        <td class="text-left"> {{n['username']  }}</td>
                        <td class="text-left"> {{n['location']  }}</td>
                        <td class="text-left"> {{n['email']  }}</td>
                        <td class="text-left"> {{n['mobile']  }}</td>
                        <td class="text-left">
                            <a href="{{ url_for('editNode',id=n['device_id']) }}">Edit</a>
                            <a href="{{ url_for('deleteNode',id=n['device_id']) }}">Delete</a>

                        </td>

                    </tr>

                {% endfor %}
                </tbody><td class="text-left">
                    </table>
            </div>
            </div>
           </div>


    </body>
</html>
