<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
       You have just inserted <strong>{{name}}</strong> with {{interface}} and {{ ipv4 }}!
</body>
</html>